<div class="courses-panel">
  <h3>All Courses</h3>

  <button class="btn" (click)="addCourse()">
    Add Course
  </button>
  <button class="btn" (click)="onToObservableExample()">
    To observable
  </button>
  <button class="btn" (click)="onToSignalExample()">
    To signal
  </button>

  <mat-tab-group>

    <mat-tab label="Beginners">
      <courses-card-list
        #beginnersCourses
        matTooltip="There are beginners courses"
        [inputData]="beginnerCourses()"
        (courseDeleted)="deleteCourse($event)"
        (courseUpdated)="updateCourseInUI($event)"
        />
    </mat-tab>

    <mat-tab label="Advanced">
      <courses-card-list
        [inputData]="advancedCourses()"
        (courseDeleted)="deleteCourse($event)"
        (courseUpdated)="updateCourseInUI($event)"
        />
    </mat-tab>

  </mat-tab-group>

</div>
